<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pure CSS Slide Down</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="hidden">
        <h2>This message should be hidden</h2>
        <p>also, this little paragraph.</p>
    </div>
    <div class="normal-view">
        <h1>Click the button below to see the magic</h1>
        <input type="checkbox" name="changer" />
    </div>
</body>
</html>